@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blogh";
  src: url("./fonts/Blogh.otf");
}

@font-face {
  font-family: "GTAlpina";
  src: url("./fonts/GT-Alpina-Standard-Bold-Italic-Trial.otf");
}

@font-face {
  font-family: "Roobert";
  src: url("./fonts/Roobert-Medium.otf");
}

@font-face {
  font-family: "Reckless";
  src: url("./fonts/Reckless-Light.woff");
}